@tailwind base;
@tailwind components;
@tailwind utilities;

#avatar{
    border-radius: 99%;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    position: relative;
    /* margin: 2rem; */
}

header {
    text-align: center;
    z-index: 100;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    margin-top: 3rem;
}